@model FUNews.Presentation.Pages.Staff.Categories.IndexModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="CreateCategory.CategoryName" class="form-label">
    </label>
    <input asp-for="CreateCategory.CategoryName"
           class="form-control" />
    <span asp-validation-for="CreateCategory.CategoryName"
          class="text-danger">
    </span>
</div>

<div class="mb-3">
    <label asp-for="CreateCategory.CategoryDesciption"
           class="form-label">
    </label>
    <textarea asp-for="CreateCategory.CategoryDesciption"
              class="form-control"
              rows="3">
    </textarea>
    <span asp-validation-for="CreateCategory.CategoryDesciption"
          class="text-danger">
    </span>
</div>

<div class="mb-3">
    <label asp-for="CreateCategory.ParentCategoryId"
           class="form-label">
    </label>

    <select asp-for="CreateCategory.ParentCategoryId"
            class="form-select">
        <option value="">-- None --</option>
        @foreach (var c in Model.AllCategories)
        {
            <option value="@c.CategoryId">
                @c.CategoryName
            </option>
        }
    </select>
</div>

<div class="form-check form-switch">
    <input asp-for="CreateCategory.IsActive"
           class="form-check-input" />
    <label asp-for="CreateCategory.IsActive"
           class="form-check-label">
    </label>
</div>