@model FUNews.Presentation.Pages.Staff.Tags.IndexModel

<div class="modal fade" id="createTagModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Create Tag</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <form method="post"
                  asp-page-handler="Create"
                  id="createTagForm">

                @Html.AntiForgeryToken()

                <div class="modal-body" id="createTagBody">
                    <partial name="Modals/_CreateFormBody" model="Model" />
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        Create
                    </button>
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>