@model FUNews.Presentation.Pages.Staff.Tags.IndexModel

<input type="hidden" asp-for="EditTag.TagId" />

<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="EditTag.TagName" class="form-label"></label>
    <input asp-for="EditTag.TagName" class="form-control" />
    <span asp-validation-for="EditTag.TagName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="EditTag.Note" class="form-label"></label>
    <textarea asp-for="EditTag.Note"
              class="form-control"
              rows="3"
              placeholder="Better description for this tag"></textarea>
    <span asp-validation-for="EditTag.Note" class="text-danger"></span>
</div>