@model int

<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form id="changePasswordForm">
                <div class="modal-body">

                    <input type="hidden" name="accountId" value="@Model" />

                    <div class="text-danger" id="passwordError"></div>

                    <div class="mb-3">
                        <label>Current Password</label>
                        <input type="password" name="currentPassword" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>New Password</label>
                        <input type="password" name="newPassword" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>Confirm New Password</label>
                        <input type="password" name="confirmPassword" class="form-control" required />
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Change Password</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
